
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

body {
    position: relative;
    // overflow: hidden;
}
ul,
a,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

.content_section {
    max-width: 1140px;
    margin: 0 auto;
}