body {
  max-width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font: normal 16px sans-serif;
  color: #555; }

ul,
a,
nav {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 14px; }

small {
  font-size: 14px; }

.content_container {
  max-width: 1140px;
  margin: 0 auto; }

.background {
  background-position: center;
  background-size: cover; }

header .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0; }
  header .header .logo img {
    width: 120px;
    height: 35px; }
  header .header .header_navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header .header_navigation .black_line {
      width: 20px;
      height: 1px;
      background-color: black; }
    header .header .header_navigation .menu_item {
      color: #777777;
      margin-left: 45px;
      font-weight: 700;
      font-size: 14px; }
    header .header .header_navigation .menu_item:hover {
      color: #444444; }

.intro {
  width: 100%;
  min-height: 650px; }
  .intro .content_container {
    max-width: 1374px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .intro .content_container .heading_wrap {
      margin-top: 263px; }
      .intro .content_container .heading_wrap .heading {
        font-weight: 300;
        line-height: 24px;
        color: white;
        max-width: 700px;
        padding: 20px 47px;
        text-transform: uppercase;
        background-color: black; }
    .intro .content_container .heading_subtitle {
      margin-top: 38px;
      color: #000000;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      /* Text style for "M, inimal" */
      letter-spacing: 7.2px; }
    .intro .content_container .slider_points {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 210px; }
      .intro .content_container .slider_points .point {
        background-color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin: 0 10px; }
      .intro .content_container .slider_points .active {
        border: 5px solid black; }

.blog_navigation .blog_navigation_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 776px; }
  .blog_navigation .blog_navigation_bar .bar_item {
    color: #777777;
    font-size: 14px;
    margin: 26px 24px;
    text-transform: uppercase;
    font-weight: 500; }
  .blog_navigation .blog_navigation_bar .bar_item:hover {
    cursor: pointer;
    color: #000000; }
