section
    .content_container.blog_navigation
        nav.blog_navigation_bar
            li.bar_item All
            li.bar_item Logo
            li.bar_item Mobile App  
            li.bar_item WordPress 
            li.bar_item Web Design
            li.bar_item UI/IX
            li.bar_item Branding 

    