footer
    section.footer
        .footer_wrap
            .logo_wrap
                img(src="img/logo.png", alt="logo")
            nav.footer_socials
                li
                    a(href="")
                        i(class="fa fa-facebook" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-google-plus" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-twitter" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-vk" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-youtube-play" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-dribbble" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-instagram" aria-hidden="true")
            small © 2016 <b>Mulitix Theme</b> by ThemeForces. All Rights Reserved.
           



