header
    section.header.content_container
        .logo
            img(src='/img/logo.png')
        nav.header_navigation
            span.black_line
            li.menu_item 
                a.menu_link(href='#') HOME 
            li.menu_item 
                a.menu_link(href='#') ABOUT
            li.menu_item 
                a.menu_link(href='#') PORTFOLIO 
            li.menu_item 
                a.menu_link(href='#') BLOG
            li.menu_item 
                a.menu_link(href='#') CONTACT
        


    