section.intro
    .content_section
        //- span.arrow.arrow_left
        //-     i.fa.fa-arrow-left(aria-hidden="true")
        .intro_content
            h1.main_title Lian Creative Agency
            h4.main_subtitle Minimal Freelance Portfolio
        //- span.arrow.arrow_right
        //-     i.fa.fa-arrow-right(aria-hidden="true")
    .intro_slider
        .slider_item(style='background-image: url(img/intro_background.png);')
        .slider_item(style='background-image: url(img/intro_background.png);')
        .slider_item(style='background-image: url(img/intro_background.png);')
           
        
            
            //- .content_section
            //-     span.arrow.arrow_left
            //-         i.fa.fa-arrow-left(aria-hidden="true")
            //-     .intro_content
            //-         h1.main_title Lian Creative Agency
            //-         h4.main_subtitle Minimal Freelance Portfolio
            //-     span.arrow.arrow_right
            //-         i.fa.fa-arrow-right(aria-hidden="true")
        
    //- .content_section
    //-     span.arrow.arrow_left
    //-         i.fa.fa-arrow-left(aria-hidden="true")
    //-     .intro_content
    //-         h1.main_title Lian Creative Agency
    //-         h4.main_subtitle Minimal Freelance Portfolio
            
    //-     span.arrow.arrow_right
    //-         i.fa.fa-arrow-right(aria-hidden="true")
    //- .dots 
    //-     .dots_item
    //-     .dots_item.active
    //-     .dots_item


