section.intro.background(style="background-image: url(/img/intro/background_intro_1.png);")
    .content_container
        .heading_wrap
            h1.heading Lian Creative Agency
        h4.heading_subtitle Minimal Freelance Portfolio 
        .slider_points
            .point
            .point.active
            .point


