section.latest_projects
    .sections_intro
        .content_section
            .sections_intro_text
                h1.main_blog_title LATEST PROJECTS
                h4.main_blog_subtitle We Deliver Quality
            .latest_background(style='background-image: url(img/latest_project_intro.png)')
    .content_section
        .project
            .project_info 
                .project_header
                    h4.project_title Pereira Creative Agency
                    h6.project_subtitle Branding Design
                .project_body
                    .project_date
                        span.date February 28, 2015
                        span.likes
                            span.likes <i class="fa fa-heart-o" aria-hidden="true"></i> 324 likes
                                
                                
                    p.text.project_text.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                .project_footer
                    h6.roles Role On Project:
                    p.
                        Project Designer, Lead Designer, Markerting Head
                    h6.tags Tags:
                    p.
                        Mobile App, UI/UX design
            .slider
                .project_slider 
                    .project_slider_item
                        img(src="img/portfolio_item_2.png", alt="")
                    .project_slider_item
                        img(src="img/portfolio_item_3.png", alt="")
                    .project_slider_item
                        img(src="img/portfolio_item_8.png", alt="")
                    .project_slider_item
                        img(src="img/portfolio_item_7.png", alt="")
                    
                .slider-nav
                    .slider-nav_item
                        .black_hover
                        img(src="img/portfolio_item_2.png", alt="")
                    .slider-nav_item
                        .black_hover
                        img(src="img/portfolio_item_3.png", alt="")
                    .slider-nav_item
                        .black_hover
                        img(src="img/portfolio_item_8.png", alt="")
                    .slider-nav_item.last_item
                        .black_hover
                        img(src="img/portfolio_item_7.png", alt="")
