section.portfolio_section
    .content_section
        .portfolio_navigation
            nav.portfolio_menu 
                li.portfolio_menu_item All
                li.portfolio_menu_item Logo
                li.portfolio_menu_item Mobile app
                li.portfolio_menu_item Wordpress
                li.portfolio_menu_item Web design
                li.portfolio_menu_item Ui/Ux 
                li.portfolio_menu_item Branding 
        .portfolio_works
            
            .portfolio_works_item.grid-item--height2(style='background-image: url(img/portfolio_item_1.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item

                //- img(src='img/portfolio_item_1.png')
            .portfolio_works_item.grid-item--height1(style='background-image: url(img/portfolio_item_2.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_2.png')
            .portfolio_works_item.grid-item--height3(style='background-image: url(img/portfolio_item_3.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_3.png') 
            .portfolio_works_item.grid-item--height2(style='background-image: url(img/portfolio_item_5.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_5.png')
            .portfolio_works_item.grid-item--height1(style='background-image: url(img/portfolio_item_4.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_4.png') 
            
                
            .portfolio_works_item.grid-item--height1(style='background-image: url(img/portfolio_item_6.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_6.png') 
            .portfolio_works_item.grid-item--height3(style='background-image: url(img/portfolio_item_7.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_7.png') 
            .portfolio_works_item.grid-item--height1(style='background-image: url(img/portfolio_item_8.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_8.png') 
            .portfolio_works_item.grid-item--height2(style='background-image: url(img/portfolio_item_9.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
                //- img(src='img/portfolio_item_9.png') 
            .portfolio_works_item.grid-item--height2(style='background-image: url(img/portfolio_item_10.png);')
                .inside_block
                    .add_wrap
                        .add_item
                        .add_item
        .button_wrap
            a.button.load_more(id='load_more') Load more
                //- img(src='img/portfolio_item_10.png') 
        
        
        //- .portfolio_works_item(height='250px')
        //- .portfolio_works_item(height='350px')
        //- .portfolio_works_item(height='250px')
        //- .portfolio_works_item(height='450px')
        //- .portfolio_works_item(height='350px')
        //- .portfolio_works_item(height='350px')