header {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 28px 0;
        .logo img {
            width: 120px;
            height: 35px;
        }

        .header_navigation {
            display: flex;
            align-items: center;
            .black_line {
                width: 20px;
                height: 1px;
                background-color: black;
            }
            .menu_item {
                color: #777777;
                margin-left: 45px;
                font-weight: 700;
                font-size: 14px;
            }
            .menu_item:hover {
                color: #444444;
            }

        }
    }
}



.intro {
    width: 100%;
    min-height: 650px;
    // background-image: url(/img/intro/background_intro_1.png);
    .content_container {
        max-width: 1374px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        // border: 1px solid red;
            .heading_wrap {
                margin-top: 263px;
                .heading {
                    
                    font-weight: 300;
                    line-height: 24px;
                    color: white;
                    max-width: 700px;
                    padding: 20px 47px;
                    text-transform: uppercase;
                    background-color: black;
                }
    
            }
            
            .heading_subtitle {
                margin-top: 38px;
                color: #000000;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                text-transform: uppercase;
                /* Text style for "M, inimal" */
                letter-spacing: 7.2px;
            }

            .slider_points {
                display: flex;
                margin-top: 210px;
                .point {
                    background-color: white;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    margin: 0 10px;
                }
                .active {
                    border: 5px solid black;
                }
            }
    }
}

.blog_navigation {
    .blog_navigation_bar {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 776px;
            .bar_item {
                color: #777777;
                font-size: 14px;
                margin: 26px 24px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .bar_item:hover {
                cursor: pointer;
                color: #000000;
            }
    }
}

