.intro {
    width: 100%;
    min-height: 650px;
    

    // background-image: url(/img/intro/background_intro_1.png);
    .content_container {
        max-width: 1374px;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        border: 1px solid red;
        
            .heading {
                font-weight: 300;
                line-height: 24px;
                color: white;
                max-width: 700px;
                padding: 20px 30px 20px 30px;
                text-transform: uppercase;
                letter-spacing: 4.8px;
                // padding: 5px 15px;
                background-color: black;
            }
    }
}