header {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 28px 0;
        .logo img {
            width: 120px;
            height: 35px;
            
        }

        .header_navigation {
            display: flex;
            align-items: center;
            .black_line {
                width: 20px;
                height: 1px;
                background-color: black;
            }
            .menu_item {
                color: #777777;
                margin-left: 45px;
                font-weight: 700;
                font-size: 14px;
            }
            .menu_item:hover {
                color: #444444;
            }

        }
    }
}