doctype 
html(lang='ru')
    -let title = 'Home'
    include ../includes/head.pug
    body
        include ../includes/header.pug 
        include ../includes/intro.pug
        include ../includes/portfolio_section.pug 
        include ../includes/blog_section.pug
        include ../includes/footer.pug
        
        
        script(src='js/masonry.pkgd.min.js')
        script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src="js/slick/slick.min.js")
        script( src='js/sripts.js')
        

